
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    /* School-themed gradient: deep blue → light blue → golden */
    background: linear-gradient(135deg, #4d759c, #547391, #7384a5);
    color: #ffffff;
}

h1, h2, h3 {
    text-align: center;
    
}
.start{
    text-align: left;
}
.welcome{
    color: #ffcc00;
}

.slider {
    position: relative;
    height: 60vh;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.slider img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: none;
}

.slider img.active {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60vh;
    background: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 12px 20px;
    background-color: #ffcc00;
    border: none;
    color: #003366;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.8;
   
}
.delete{
    background-color: red !important;
}

button:hover {
    opacity: 1;
}

.delete-btn{
  background-color: red;
  font-weight: bold;
}
.promo{
    background-color: green;
     font-weight: bold;
}
.promo:hover{
     font-weight: bold;

}

form, table, #studentDetails {
    background: rgba(255,255,255,0.95);
    color: black;
    padding: 15px;
    border-radius: 8px;
    margin: 20px auto;
    width: 90%;
}

input, select, button {
    padding: 8px;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #003366;
    color: white;
}

#subjectResult {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}